.customform {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background: #ffffff;
    border-collapse: collapse;
    padding: 2px;
    /* page-break-after: always; */
    /* esse border-collapse é o responsável pelas bordas ficarem completas e sem sobras entre uma e outra*/
}

.cabecalho {
    padding: 14px;
    border: 1px solid #000000;
    font-size: 16px;
}

body {
    margin-top: 4cm;
    margin-bottom: 1cm;
}

.total {
    border-top: 1px solid black;
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0cm;
    width: 100%;
    height: 2.8cm;
    background-color: #ffffff;
}

.sinistro {
    font-weight: bold;
    border: 1px solid black;
}

.cor {
    font-weight: bold;
    color: #032a61;
}

.rua {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.red {
    color: red;
    text-align: right;
    font-weight: bold;
}

.hora {
    text-align: right;
}

.desa {
    font-weight: bold;
}

.detalhe {
    font-weight: bold;
    border-top: 1px solid black;
}

.customform td {
    padding: 6px;
}

footer::after {
    content: "Página " counter(page);
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    text-align: right;
    width: 100%;
    border-top: 1px solid #000000;
    margin-bottom: -10px;
    padding: 6px;
}

@page {
    font-family: Arial, Helvetica, sans-serif;
    size: A4 portrait;
    margin: 1cm 1cm 1cm;
    counter-increment: page;
}